{{ define "main" }}

<section class="section">
  <div class="container">
    <!-- cta -->
{{ if .Site.Params.cta.enable }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row shadow bg-white p-5">
          <!-- <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
            <img src="{{ .Site.Params.cta.image | relURL }}" class="mr-4" alt="..."></div> -->
          <div class="col-md-8 text-center text-md-left">
            <h3 class="mt-0">{{ .Site.Params.cta.title | markdownify }}</h3>
            <p>{{ .Site.Params.cta.description | markdownify }}</p>
            {{ if .Site.Params.cta.button.enable }}
            <a href="{{ .Site.Params.cta.button.link | absURL }}"{{ with .Title}} title="{{ . }}"{{ end }}{{ if strings.HasPrefix .Site.Params.cta.button.link "http" }} target="_blank"{{ end }} class="btn btn-primary">{{ .Site.Params.cta.button.label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /cta -->
    <div class="row">
      <div class="col-3">
        <div class="nav nav-tab flex-column" role="tablist" aria-orientation="vertical">
          {{ range $index, $elemen:= .Site.Data.tools.tools }}
          <a class="nav-link {{ if eq $index 0}} active {{ end }}" data-toggle="pill" href="#{{.title | urlize}}" role="tab">{{ .title }}</a>
          {{ end }}
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content">
          {{ range $index, $elemen:= .Site.Data.tools.tools }}
          <div class="tab-pane fade {{ if eq $index 0}} show active {{ end }}" id="{{.title | urlize}}" role="tabpanel">
            <div class="row">
              {{ range .tool}}
              <div class="col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="{{ .image | relURL }}" alt="{{ .name | markdownify }}" class="card-img-top">
                  <div class="card-body">
                    <h4 class="h5 mb-4"><a class="text-dark" href="{{ .link | safeURL }}">{{ .name | markdownify }}</a></h4>
                    <a href="{{ .link | safeURL }}"{{ with .Title}} title="{{ . }}"{{ end }}{{ if strings.HasPrefix .link "http" }} target="_blank"{{ end }} class="btn btn-primary">Visit Site</a>
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}